*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root {
    --color1: #C7FFD8; /* Light Green */
    --color2: #98DED9; /* Teal */
    --color3: #0B2F9F; /* Dark Blue */
    --color4: #161D6F; /* Darker Blue */
}
body{
    background: #98DED9;
    color:white
}
.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* header */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Bg.jpg);
    background-size: cover;width: cover;height: cover;
    background-position: center;
    
} 
.container{
    padding: 10px 10%;
}
nav{
    background-color: var(--color4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 9vh;
    width: cover;
}

.logo{
    width: 140px;
    padding-left: 5px;
}
nav ul{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--color1);
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-right: 45px;
    
}

nav ul li a::after{
    content :'';
    width: 0;
    height: 3px;
    background: var(--color1);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top:20% ;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #00a8fc;
}
/* tentang saya */
#about{
    padding: 80px 0;
    color: #FFF;     
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    flex-basis: 35%;
}
.about-col-2 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-1{
    flex-basis: 60%;
}
.sub-title{
    font-family: "Protest Strike", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #161D6F ;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0B2F9F;
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
#galery{
    padding: 30px 0;
}
.kegiatan-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.kegiatan-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.kegiatan-list div i{
    font-size: 50px;
    margin-bottom:30px;

}
.kegiatan-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.kegiatan-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.kegiatan-list div:hover{
    background: #161D6F;
    transform: translateY(-10px);
    box-shadow: #0B2F9F 5px;
}
#portofolio{
    padding: 50px 0;
}

.Hobi-saya{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.hobi{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.hobi img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6), #0B2F9F) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top:20px;
    color: var(--color3);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.hobi:hover img{
    transform: scale(1.1);
}
.hobi:hover .layer{
    height: 100%;
}
.btn{
    display:block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid var(--color3);
    padding: 14px 50px;
    border-radius:6px;
    text-decoration:none;
    color: #fff;
    transition:background 0.5s ;
    background-color: #262626;
    height: 4rem;
    text-align: center;
}
.btn:hover{
    background: var(--color4);
}
.contact-right{
    flex-basis: 35%;
}
.contact-left{
    flex-basis: 60%;
}
.contact-right p{
    margin-top: 30px;
}
.contact-right p i{
    color: var(--color3);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-transform: none;
    font-size: 30px;
    margin-right: 15px;
    color: #080808;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--color4);
    transform: translateY(-5px);
}
.contact-left form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
footer{
    width: 100%;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    justify-content: space-evenly;
    display: flex;
}